@model WebEmpleados.Models.Cargos
@{
    ViewBag.Title = "Add";
}

<h2>Añadir Cargos</h2>

<div style="background-color: rgba(255,255,255,0.7)">

    @Html.ValidationSummary(false)  <!--Ponemos "(false)" porque por defecto omite el tipado de cada campo, y NO queremos que lo omita-->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <!--Con esto evitamos que alguien pueda "trampear" el formulario saltandose las validaciones-->

        @Html.LabelFor(o => o.nombre)
        @Html.EditorFor(o => o.nombre)
    <!--"EditorFor" establece la manera predeterminada al dato, pero podemos poner la que uqeramos, por ejemplo "TextBoxFor"-->
        <br />

        <input type="submit" value="Enviar datos" />
    }
    
</div>
